#terms,
#privacy{
  
  .container{
    margin-top:30px;

    @media screen and (max-width: 992px) and (min-device-width: 320px) {
      padding: 0 20px 0 24px;
    }

    h1,
    h3{
      font-family: 'Futura Std Book';
    }

    .square{
      opacity: 0.8;
    }
  }  
}