/* Modal styles */

#issuuModal {
  .flipbook {
    padding: 0;
    width: 100%;
  }
  h4{
    margin: 10px 0 5px 10px;
  }
}

#interstitial {

  .interstitial-content {
    width: 450px;
    padding: 0;
  }
}
