
#productcontainer{  

  #product-description,
  #product-filter{
    
    padding:28px 34px 0;
    background-color: $tan1;
    
    #collapseFilter,
    .filter-container{

      ul{
        padding-left:26px;
        li{
          margin-bottom: 6px;
          /*input[type='checkbox']{
            
          }*/

          label{
            font-size: 13px;
          }
          .custom-control-label {
            margin-left: 1.25rem;
          }
          .custom-control-label::before {
              position: absolute;
              top: 0.22rem;
              left: -2.75rem;
              display: block;
              width: 0.6rem; height: 0.6rem;
              //width: 1rem; height: 1rem;
              pointer-events: none;
              content: "";
              background-color: transparent;
              border: $nav1 solid 1px;
          }

          .custom-control-label::after {
            //width: 1rem; height: 1rem;
              width: 0.6rem; height: 0.6rem;
              left: -2.75rem;
          }

        }
      }
    }

    h1,
    a.dropdown-toggle{
      font-size: 1.25rem;
      width: 100%; 
      display: inline-block;
      font-family: 'Futura Std Heavy';
      margin-bottom: 24px;

      &:after{
        float:right;
        margin-top: 16px;
        font-size: 1rem;
      }
      &:hover{
        text-decoration: none;
        color: $nav1;
      }
    }

    a{
      &.collapsed{
        &:after {
          transform: rotate(-90deg);
        }
      }
      h1{
        width: initial;
        margin-bottom: 0;
        // desktop narrow
        //@media screen and (max-width: 1520px) and (min-device-width: 990px){
          span{
            display: block; clear: both; width: 100%;
            &.t1{
              font-size: 70%;
            }
          }
        //}
        // mobile
        //@media screen and (max-width: 992px) and (min-device-width: 320px) {
          //&.t1{ font-size: initial; }
        //}
      }
    }

    button{
      width:100%;
      clear:both;
      /* border:1px $nav1 solid;
      
      &.focus,
      &:focus,
      &.active,
      &:active{
        border-color: $nav1 !important;
        background: none; 
        color:$nav1 !important;
      } */


      &.simple{
        margin-top:10px;
        border:0;
        text-decoration: underline;
      }
    }
  }
  
  @media screen and (max-width: 992px) and (min-device-width: 320px) {
    #product-description{
      padding:28px 30px 0;
    }
  }

  #product-thumbs{
    margin-top:28px;
    margin-bottom: 100px;    
    padding-left: 0;
    overflow-anchor:none;

    @media screen and (max-width: 992px) and (min-device-width: 320px) {
      padding:0 5px;
    }

    ul{
      margin-bottom: 0;

      @media screen and (max-width: 992px) and (min-device-width: 320px) {
        margin: 0;
        padding: 0;
      }

      li{ 
        @media screen and (max-width: 768px) and (min-device-width: 320px) {
          &:nth-child(odd) {
            padding-right: 2px;
          }
          &:nth-child(even) {
            padding-left: 2px;
          }
        }

        .inner {
          padding: 5px;

          img{
            width: 100%; height:auto; 
          }

          p{
            display:inline-block; width: auto; padding-top:6px;
          }
          
          a{
            color: $nav1;
            text-decoration: underline;
            text-underline-position: under;

            @media screen and (max-width: 992px) and (min-device-width: 320px) {
              .skuWallTitle{
                font-size: 0.85rem;
                &.shrink{
                  font-size: 0.67rem;
                }
              }
            }

            //  button
            &.preview{
              float: right;
              padding-top: 6px; 

                @media screen and (max-width: 992px) and (min-device-width: 320px) {
                  background: url("../images/icons/eye.png") no-repeat 0 0;
                  background-size:cover;
                  display:block;
                  color:transparent;
                  width: 28px;
                }
            }
          }

        }
      }
    }
  }

}


#dynamic-load{
  overflow-anchor:auto;

  ul.row{
    li{
      .inner{
        img{
          //min-height: 222px;
        }
      }
    }
  }
  .loader{
    text-align: center; padding-bottom:20px;
  }
}

#modal-product-container{

  .modal-dialog{
    padding: 60px 80px 20px;

    .modal-body{
      
      .close{
        top: -30px;
        right: -50px;
      }

      img#plp-modal-img1{
        padding: 0;
      }

      .container-fluid{
        margin: 20px 0;
        padding:0;

        ul{
          //#plp-item-ul
          //#plp-product-ul
          margin:0;
          padding:0;

          &.hide{
            display:none;
          }
          
          li{
            //margin:0;
            padding:0 0 14px;

            &#plp-sample-btn{
              button{
                color: $red1;
                border: 1px $red1 solid;
              }
            }

            &.learn-more{
              button{
                float: right;
              }
            }
            .plp-modal-title{
              font-family: 'Futura Std Book';
            }

            #download-image,
            #download-image-2{
              text-align: right; 
              
              a{
                line-height: 2.4rem;
                text-decoration: underline;

                &:hover,
                &:active{
                  color: $nav1;
                }
              }
            }

            button{
              width:97%;
            }
          }
        }
      }
    }
  }
}